packages: [
  ".bin"
  "activate-power-mode"
  "atom-jade"
  "atom-monokai"
  "atom-soda-dark-ui"
  "atom-tsd"
  "autoclose-html"
  "autocomplete-paths"
  "autocomplete-sass"
  "color-picker"
  "custom-title"
  "file-icons"
  "git-control"
  "git-history"
  "git-plus"
  "highlight-selected"
  "japanese-wrap"
  "language-haml"
  "linter"
  "merge-conflicts"
  "minimap"
  "minimap-autohide"
  "minimap-bookmarks"
  "minimap-color-highlight"
  "minimap-git-diff"
  "minimap-hide"
  "minimap-highlight-selected"
  "minimap-pigments"
  "monokai"
  "package-sync"
  "pigments"
  "pretty-json"
  "project-manager"
  "railscast-theme"
  "regex-railroad-diagram"
  "script"
  "sort-lines"
  "Sublime-Style-Column-Selection"
  "symbols-tree-view"
  "tablr"
  "trailing-spaces"
]
